<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{% block title %}My TanSAP{% endblock %}</title>
        <meta content="My TanSAP homepage" name="description">
        <meta content="Homepage, main page" name="keywords">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="static/img/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="static/img/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="static/img/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="static/img/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="static/img/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="static/img/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="static/img/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="static/img/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="static/img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
        <link rel="manifest" href="static/img/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="static/vendor/aos/aos.css" rel="stylesheet">
        <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="static/style.css" rel="stylesheet">
    </head>

    <body id="home">
        {% block content %}
            {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-primary mb-0 text-center" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endif %}

            <header id="header" class="fixed-top header-transparent">
                <div class="container d-flex align-items-center justify-content-between position-relative">

                    <div class="logo">
                        <h1 class="text-light"><span>My TanSAP</span></h1>

                    </div>

                    <nav id="navbar" class="navbar">
                        <ul>
                            <li><a href="/essay">Essay Review</a></li>
                            <li><a href="/week">Weekly Schedule</a></li>
                            <li><a href="/scores">Score Upload</a></li>
                            <li><a href="/announcements">Announcements</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav>

                </div>
            </header>


            <section id="hero">
                <div class="hero-container" data-aos="fade-up">
                    <h1>Welcome to My TanSAP</h1>
                    <h2>Admin</h2>
                    <a href="#home" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
                </div>
            </section>

        {% endblock %}

        <!-- Vendor JS Files -->
        <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="static/vendor/aos/aos.js"></script>
        <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="static/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="static/js/main.js"></script>


    </body>

</html>
